html,body{
    height: 100%;
    margin: 0;
	background: #f2f2f2;
}

#cover{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: #ffffe5;
    z-index:20;
}

.header{
	text-align: center;
    color: #4d4d4d;
	font-size: 14px;
}

#mainbody{
	margin: auto;
	/* max-width: 1000px; */
	font-family: helvetica, serif;
	background: #ffffff;
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1); */
}

#content{
	padding: 30px;
	padding-bottom: 30px;
	margin: auto;
	max-width: 800px;
	text-align: left;
	font-size: 14px;
	font-family: FangSong, sans-serif;
	line-height: 24px;
	color: #4d4d4d;
	height: 100vh;
	/* border: 1px solid black; */
}

.small-link{
	display: inline-block;
}

h1{
	font-size: 24px;
    color: #336699;
}
h2{
	font-size: 16px;
    color: #336699;
}

a:link {
  color: #999999;
}
a:visited {
  color: #999999;
}
a:hover {
  color: #333333;
}
a:active {
  color: #333333;
}
