html,body{
    height: 100%;
    margin: 0;
	background: #e6e6e6;
}

.mainbody{
	margin: 20px auto;
	max-width: 1000px;
	font-family: helvetica, serif;
	background: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.header{
	padding: 50px;
	text-align: center;
}

#header-img{
	max-width: 100%;
	border-radius: 5px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.content{
	padding: 20px;
	text-align: left;
	font-size: 14px;
	line-height: 24px;
	color: #4d4d4d;
}

.small-link{
	display: inline-block;
}

h1{
	font-size: 24px;
}

a:link {
  color: #999999;
}
a:visited {
  color: #999999;
}
a:hover {
  color: #333333;
}
a:active {
  color: #333333;
}
